{
  "PublisherId": "CN=35CB6CB1-10B9-4C64-8613-6A69F2A1E512",
  "PublisherDisplayName": "Stelath",
  "PackageIdentityName": "52217Stelath.Squarez",
  "DisplayName": "Squarez",
  "AppId": "9P9JNRFSCFTC",
  "ProductFamilyName": "52217Stelath.Squarez_mwj84n2nfajnj",
  "PrimaryServiceConfigId": "00000000-0000-0000-0000-0000720917eb",
  "TitleId": 1913198571,
  "Sandbox": "TQBSZZ.58",
  "XboxLiveCreatorsTitle": true
}